<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443109020224-82pkbhnl55sgve08mvj7sbj6jeg1fnu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443109020224-82pkbhnl55sgve08mvj7sbj6jeg1fnu6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>443109020224-e94ap4ljmkgvn7097vvpfeoucm4nmnpk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlLUrqUyPXHUQuICq45iZp544VQ520POQ</string>
	<key>GCM_SENDER_ID</key>
	<string>443109020224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groceryseller.app</string>
	<key>PROJECT_ID</key>
	<string>grocery---vegetables</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery---vegetables.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443109020224:ios:c7539ae4a3f4a33d2605a5</string>
</dict>
</plist>